<div>
    <div>
        <button style="float:right" (click)="goToCreateTopic()">Add new topic</button>
        <h2 style="padding:12px;">Topics</h2>
    </div>
    <ng-container *ngIf="topics">
        <div *ngFor="let topic of topics" class="listItem">
            <app-topic-item [topic]="topic"></app-topic-item>
        </div>
    </ng-container>
</div>