@import "../../../../styles.css";

/* This will apply if the screen is smaller than 500px */
@media only screen and (max-width : 500px) {
    button {
        font-size: 3vw;
    }
}

.info-box {
    background-color: lightblue;
    width : 100%;
}