<div class="centralWebsiteField" *ngIf="loggedIn">
    <router-outlet></router-outlet>
</div>

<div class="centralWebsiteField" *ngIf="!loggedIn" style="text-align: center;">
    You do not have an alumni profile! Create one by going to the login page!
    <br>
    <button (click)="goToLogin()" style="margin: 15px">Go to login page</button>
</div>
