<div *ngIf="topic">
    <h3 style="margin-bottom: 6px;">{{topic.name}}</h3>
    <div class="fieldDescription">Description: </div>
    <div>
        {{topic.description}}
    </div>
    <div class="infoDashDivider"> </div>
    <app-dashboard></app-dashboard>
</div>