<div class="container justify-content-center my-5">
    <div class="mx-auto">
        <h1 class="text-center">Hello buddy, you got the <strong>BIG</strong> error.</h1>
        <div class="text-center p-4">
            <button routerLink="/home">Home page</button>
        </div>
    </div>
</div>
