@import "../../../../styles.css";

.post{
    border : solid black 2px;
    border-radius : 10px;
    background-color : white
}

.clickElement {
    cursor : pointer;
    width: fit-content;
}

.clickElement:hover {
    text-decoration: underline;
}