
<div class="timelineItem"  *ngIf="post">
    <div class="postSplitFull" [ngClass]="{'eventSplit1':post.type==1}">
        <span class="postOwnerLine" *ngIf="post">
            <!-- clickable img and name -->
            <ng-container *ngIf="user">
                <span class="hoverableText" (click)="handleClickOnUser(post.author)" title="Go to user">
                    <img class="tinyImage" src="{{user.imgURL}}">
                    <span class="tinyName">
                        {{user.name}}
                    </span>
                </span>
            </ng-container>
            <!-- if group -->
            <span *ngIf="group" class="hoverableText">
                <span *ngIf="group!=undefined" class="arrow"></span>
                <span class="tinyName" (click)="handleClickOnGroup(post.group!)">
                    {{group.name}} 
                </span>
            </span>
            <!-- how long ago -->
            <span class="tinyDate">
                <span *ngIf="post.creationDate!=post.lastUpdated"> *Updated </span>
                {{post.creationDate | timeago:live}} 
            </span>
        </span>
        <br>
        <div class="hoverableText" (click)="handleClickOnPost(post.postId)">
            <h3 (click)="handleClickOnPost(post.postId)" style="margin-left:10px; margin-top:10px;" [innerHTML]="title"></h3>
            <div class="postContent" [innerHTML]="content">
            </div>
        </div>
    </div>
    <div *ngIf="post.type==1" class="eventSplit2">
        <div class="calIcon hoverableText" (click)="handleClickOnPost(post.postId)">
            <div class="fa fa-calendar" style="font-size: 48px;"></div>
            <div style="margin-top:20px;" *ngIf="post.event">
                Starts at: {{post.event.startTime | date:'short'}}
            </div>
            <!-- <div style="margin-top:10px;" *ngIf="post.event">
                Location: {{post.event!.location}}
            </div> -->
        </div>
    </div>
</div>

