<div class="centralWebsiteField">
    <div class="infoBox" (click)="handleInfoClick()">
        <ng-container>
            <span style="float:right;" *ngIf="infoOpen">Show less</span>
            <span style="float:right;" *ngIf="!infoOpen">Show more</span>
        </ng-container>
        <span>This page supports Github Markdown!</span>
        <div *ngIf="infoOpen">
            <ol>
                <li><h4 style="margin-bottom: 0;">Header</h4>(size 1-6, size descending) = #(Biggest header), ######(Smallest header)</li>
                <li><strong>Strong</strong> = **Your text**</li>
                <li><em>Italic</em> = _Your text_</li>
                <li>Links : <a href="www.github.com">Github</a> = [Link_name](Link_url), this example would be [Github](www.github.com)</li>
            </ol>
        </div>
    </div>

<div>  
    <div class="newPostBox">
        <div style="float:right;">
            <span class="required">* </span><span> = required</span>
        </div>
        <br>
        <h3 style=text-align:center>New post</h3>
        <form #postForm = "ngForm" (ngSubmit)="onSubmit(postForm)">
            <section>
                <label for="title" class="required">*</label>
                <input 
                ngModel
                placeholder="Title"
                #title = "ngModel"
                id = "title"
                name = "title"
                class = "w-100 my-2"
                [ngModel] = "titleValue"
                autocomplete="off"
                
                required
                >
            
                <br/>
                <label for="content" class="required">*</label>
                <textarea 
                ngModel
                placeholder="Thoughts and feelings..."
                #content = "ngModel"
                id = "content"
                name = "content"
                [ngModel] = "contentValue"
                class = "w-100 my-2 rounded"
                style="min-height : 5rem;"
                required
                ></textarea>
            </section>  
            <section>
                <div class="row">
                    <div class="col">
                        <label for="privacy">Select privacy</label>
                        <select name="isPrivate" ngModel #privacy="ngModel" class="form-control" id="privacy">
                            <option [disabled]="true" value="">Select preferred privacy...</option>
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="group">Select group</label>
                        <select class="form-control" name="group" ngModel #group="ngModel" autocomplete="off" id="group">
                            <option [disabled]="true" value="">Select group...</option>
                            <option *ngFor="let item of groups" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="topic">Select topic</label>
                        <select class="form-control" name="topic" ngModel #topic="ngModel" autocomplete="off" id="topic">
                            <option [disabled]="true" value="">Select topic...</option>
                            <option *ngFor="let item of topics" [ngValue]="item">{{item.name}}</option>
                        </select>
                    </div>
                    </div>
                </section>
    
                <section class="p-1 m-2">
                    Make event <input type="checkbox" (change)="onChangeEvent(postForm)">
                </section>
    
                <section *ngIf="showEvent">
                    <div>
                        <app-create-event [post]="post" (event)="handleChangeFromChild($event)"></app-create-event>
                    </div>
                </section>
                    
                <br/>
                <section>
                    <div style="column-count:2;">
                        <button style="width: 100%; column-span:1;" [routerLink]="[('/')]">Go back</button>
                        <button style="width: 100%; column-span:1; float:right" type="submit">Post</button>
                    </div>
                    <div style="column-count:1; width:100%;">
                        <button style="width: 100%; column-span:2;" *ngIf="!previewOpen" (click)="handlePreviewClick(postForm)">Preview Post</button>
                    </div>
                    <div style="column-count:2;">
                        <button style="width: 100%; column-span: 1;" type="button" *ngIf="previewOpen" (click)="handlePreviewClick(postForm)">Update preview</button>
                        <button style="width: 100%; column-span: 1; float:right" *ngIf="previewOpen" (click)="closePreview()">Close preview</button>
                    </div>
                </section>
            </form>
        </div>
    </div>

    <div *ngIf="previewOpen" style="margin-top: 20px;">
        <app-feed-item [post]="previewPost" [user]="user"></app-feed-item>
    </div>

</div>