<div class="centralWebsiteField">
  <h1 class="text-center p-2">Alumni portal</h1>
  <p class="text-center">Login to see what your old friends are doing!</p>
  <div class="buttonCenter">
    <button (click)="signInWithGoogle()">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Login with Google
    </button>
  </div>
</div>
<ng-container *ngIf="loggingIn">
  <p class="text-center">Trying to log in...</p>
</ng-container>
  
  <!-- Minified CSS and JS -->
  <link   rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">

