    <ng-container>
        <form (ngSubmit)="handleFilterClick(input.value)" *ngIf="posts.length > 1">
            <div class="searchField">
                <input type="text" class="form-control" placeholder="Search in posts" #input name="search" id="fieldSearch" [(ngModel)]="searchText">
                <button type="submit" id="btnSearch">Search</button>
            </div>
        </form>
        <!-- Show this if any filters are in place -->
        <ng-container *ngIf="!normalFeed">
            <div style="text-align: center; margin:10px;">
                <div style="display: inline-block;">
                    Filter: "<span class="currentFilter">{{currentFilter}}</span>"
                    <button (click)="resetFilters()" >Remove filters</button>
                </div>
            </div>
            <ng-container *ngFor="let post of filteredPosts">
                <app-feed-item [post]="post" [user]="getUserForItem(post.author)"></app-feed-item>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- This is the normal display of posts, without any search filters -->
    <ng-container *ngIf="normalFeed">
        <ng-container *ngFor="let post of posts">
            <ng-container *ngIf="post" > 
                <app-feed-item [post]="post" [user]="getUserForItem(post.author)"></app-feed-item>
            </ng-container>
            
        </ng-container>
    </ng-container>

    <ng-container *ngIf="posts.length === 0">
        <p class="p-5 m-5 text-center">There are currently no posts to show</p>
    </ng-container> 