<div>
    <div class="row text-center p-3">
        <div class="col-4">
            <label for="startDate" class="required">*</label>
            Start date : <input type="date" class="form-control" name="startDate" (change)="onChange()" ngModel name="startDate" id="startDate" [(ngModel)]="startDate" required>
        </div>
        <div class="col-4">
            <label for="endDate" class="required">*</label>
            End date : <input type="date" class="form-control" (change)="onChange()" ngModel name="endDate" id="endDate" [(ngModel)]="endDate" required>
        </div>
    
        <div class="col-4">
            <label for="guestAmount" class="required">*</label>
            Guest amount : <input type="number" class="form-control" (change)="onChange()" ngModel name="guestAmount" id="guestAmount" [(ngModel)]="allowed_guest" required>
        </div>
    </div>

    <div class="row text-center p-3">
        <div class="col-4">
            <label for="startTime" class="required">*</label>
            Start time : <input type="time" class="form-control" name="startTime" id="startTime" ngModel [(ngModel)]="startTime" required>
        </div>
        <div class="col-4">
            <label for="endTime" class="required">*</label>
            End time : <input type="time" class="form-control" name="endTime" id="endTime" ngModel [(ngModel)]="endTime" required>
        </div>
    </div>
    <div style="padding:10px;">
        <app-file-upload [(imgUrl)]="bannerUrl" #image (change)="onChangeImage(image)"></app-file-upload>
    </div>
</div>