<div class="row">
    <div class="col text-center">
        <button (click)="handleClickView()" *ngIf="!viewFeed">View feed</button>
        <button (click)="handleClickView()" *ngIf="viewFeed">View calender</button>
    </div>
</div>

<ng-container *ngIf="isLoaded">
    <ng-container *ngIf="viewFeed">
        <app-feed [posts]="feedPosts" [users]="users"></app-feed>
    </ng-container>
    
    <ng-container *ngIf="!viewFeed">
        <app-calender [posts]="calenderEvents" ></app-calender>
    </ng-container>
</ng-container>