<h3 mat-dialog-title>Insert image url</h3>
<div mat-dialog-content>
    <input matInput [(ngModel)]="url">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()">Save image</button>
</div>