<ul>
    <li class="L"><a routerLink="/">Home</a></li>
    <li class="L"><a routerLink="/profile">Profile</a></li>
    <li class="L"><a routerLink="/post/create">New Post</a></li>
    <li class="L"><a routerLink="/group">Groups</a></li>
    <li class="L"><a routerLink="/topic">Topics</a></li>

    <ng-container>

        <li class="R" *ngIf="loggedIn" (click)="onLogOut()" ><a>LogOut</a></li>

        <li class="R" *ngIf="!loggedIn"><a routerLink="/login">Log in</a></li>
    </ng-container>
</ul>