ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.L {
    float : left;
}

.R { 
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  button a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #333;
  }