<div>
    <img style="width: 100%;" src="{{imgUrl}}"/>
    <button (click)="openDialog()">Change Image</button>
    <!-- <label class="btn"> -->
    <!-- <input type="file" (change)="openDialog()"> -->
    <!-- <i>Change Image</i> -->
</div>