@import "../../../../styles.css";

/* input[type="file"]{
    display:none;
}

.profilePicContainer .btn {
    position: absolute;
    border: none;
    border-width: 10px;
    background-color: #555;
    border-radius: 5px; 
    border-color: black;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    top: 95%;
    left: 50%;
    max-width: 95%;
    transform: translate(-50%, -100%);
}

.profilePicContainer{
    position: relative;
    margin: 25px;
    /* float: right;     */
/* }
.profilePicContainer > img{
    position: static;
    float:right;
    max-width: 250px;
    max-height: 250px;
} */
