<ng-container>
    <button style="float:right; margin:0;"(click)="onBackClick()">Go Back</button>
    <h2>Create New Group</h2>
    <div class="listItem">
        <div style="padding-top:30px; padding-bottom:30px; width:33%; margin-left: auto; margin-right: auto;">
            <form #postForm = "ngForm" (ngSubmit)="ngOnSubmit(postForm)">
                <label for="groupName">Group Name:</label><br>
                <input style="width:100%;" id="groupName" class="formField" type="text" ngModel name="groupName"><br>
                
                <label for="desc">Description:</label><br>
                <input style="width:100%;" id="desc" class="formField" type="text" ngModel name="groupDesc"><br>
                <br>

                <!-- <label for="fname"> Private Group</label> -->
                <div style="width:50%; margin-left: auto; margin-right: auto;">
                    <select style="width: 100%;" [ngModel]="this.isPublic" name="isPrivate" autocomplete="off">
                        <option selected="public" value="public">Public</option>
                        <option value=private>Private</option>
                    </select><br>
                </div>
                <!-- <input class="button" type="submit" value="Create Group"> -->
                <div style="display:flex; justify-content: center; margin-top:8px;">
                    <button type="submit">Create Group</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>