<div class="listItemRight">
    <button *ngIf="!isMember" id="joinGroup" (click)="onJoinClick(group.groupId!)">Join Group</button>
    <button *ngIf="isMember" id="joinGroup" disabled>&#10003; Joined</button>
</div>
<div class="hoverableText" (click)="onGroupClick(group.groupId!)">
    <h3 style="margin-bottom: 4px;">{{group.name}}</h3>
    <div class="fieldDescription">Description: </div>
    <div>
        {{group.description}}
    </div><br>
    <div class="fieldDescription">
        Private : {{group.isPrivate}}
    </div>
</div>