<div class="listItemRight">
    <button *ngIf="!isSubscribed" (click)="subscribeToTopic(topic.topicId!)">Follow</button>
    <button *ngIf="isSubscribed" disabled>&#10003; Following</button>
</div>
<div class="hoverableText" (click)="goToTopic(topic.topicId!)">
    <h3 style="margin-bottom: 6px;">{{topic.name}}</h3>
    <!-- <div class="fieldDescription">Description: </div><br/>
    {{topic.description}}<br> -->
    <div class="fieldDescription">Followers : {{topic.interestedUsers}}</div>
</div>