<ng-container *ngIf="group">
    <button type="button" (click)="promptInvite()" style="float:right;">Invite new members</button>
    <h3 style="margin-bottom: 6px;">{{group.name}}</h3>
    <div class="fieldDescription">Description: </div>
    <div>
        {{group.description}}
    </div>
    <div class="infoDashDivider"> </div>
    <app-dashboard></app-dashboard>
</ng-container>

