<div>
    <div>
        <button style="float:right" (click)="goToCreateGroup()">Create new group</button>
        <h2 style="padding:12px;">Groups</h2>
    </div>
    <ng-container *ngIf="groups">
        <div *ngFor="let group of groups" class="listItem">
            <app-group-list-item [group]="group"></app-group-list-item>
        </div>
    </ng-container>
</div>