@import "../../../../styles.css";

.image{
    height: 5%;
    width: 5%;
    /* float: left; */
    margin-right: 5px;
}

.name{
    font-size: medium;
}

.user{
    display:inline;
    width: fit-content;
}
.text{
    font-size: small;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.reply{
    border-color: var(--border);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: calc(100%-10px);
    background-color:var(--bg-even-lighter);
    /* width: 75%; */
    padding: 5px;
} 