<div class="reply" *ngIf="reply">
    <div class="user" *ngIf="reply.author">
        <span class="postOwnerLine">
            <img class="tinyImage" style="margin-right:7px;" [src]="reply.author.imgURL" [alt]="reply.author.name">
            <div class="name tinyName">{{reply.author.name}}</div>
        </span>
    </div>
    <p class="text">{{reply.content}}</p>
    </div>
    