<div class="eventBox" style="background-image: url({{event.bannerImg}})" *ngIf="event">
    <div class="eventField">
        <div class="eventStart">Starts at: {{getTime(event.startTime)}}</div>
        <h3 class="hoverableText" (click)="clickEvent(event.relatedPost)">{{event.title}}</h3>
        <!-- We need to have event.postId because our models doesnt include postId -->
        <div class="eventHost">Host: 
            <span class="hoverableText" (click)="clickUser(event.author)">{{username}}</span>
        </div>
        <div>{{event.content}}</div>
    </div>
</div>
