.eventBox{
    width: 98%;
    overflow:auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    max-height: 150px;
    background-size: cover;
}

.eventField{
    padding:7px;
    background-color: rgba(255, 255, 255, 0.255);
    margin: 10px;
    border-radius: 3px;
}

.eventStart{
    float: right;
}

.hoverableText:hover {
    text-decoration: underline;
    cursor:pointer;
}

.eventHost{
    font-size: 10px;
    margin-bottom: 10px;
    font-style: italic;
}