<div *ngIf="post">
  <div style=padding:12px;>
      <button style="float:right; margin:10px;"(click)="onBackClick()">Go Back</button>
      <h1 style=margin-top:10px;>{{post.title}}</h1>
  </div>
  <span class="postOwnerLine" *ngIf="post">
    <ng-container *ngIf="user">
        <span class="hoverableText" (click)="handleClickOnUser(post.author)" title="Go to user">
            <img class="tinyImage" src="{{user.imgURL}}">
            <span class="tinyName">
                {{user.name}}
            </span>
        </span>
    </ng-container>
    <!-- if group -->
    <span *ngIf="group" class="hoverableText">
        <span *ngIf="group!=undefined" class="arrow"></span>
        <span class="tinyName" (click)="handleClickOnGroup(post.group!)">
            {{group.name}} 
        </span>
    </span>
    <!-- how long ago -->
    <span class="tinyDate">
        <span *ngIf="post.creationDate!=post.lastUpdated"> *Updated </span>
        {{post.creationDate | timeago:true}} 
    </span>
  </span>

  <!-- <div class="row p-2">
    <div class="col-11" *ngIf="user">
      <p class="name">{{user.name}}</p>
    </div>
    <div class="col" *ngIf="edit">
      <mat-icon aria-hidden="false" aria-label="Edit Icon" title="Edit post" (click)="goToEdit(post.postId)">edit</mat-icon>
    </div>
  </div> -->
  <div class="listItem" style="margin-top:15px;">

    <div clasS="postContent">
      <div>{{post.content}}</div>
    </div>
  </div>
  <div class="listItem">
    <ng-container *ngFor="let reply of comments">
      <app-reply class="col-6 align-self-center" [reply]=reply></app-reply>
    </ng-container> 
    
    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" class="commentForm">
      <input 
      type="text" 
      ngModel 
      placeholder="Write your comment here...." 
      #firstname="ngModel" 
      name="comment" 
      id="comment"
      class="commentInput form-control">
      <button type="submit">Comment</button>
    </form>

  </div>
</div>