

<ng-container *ngIf="user">
    
    <app-file-upload class="profilePicContainer" style="float:right" [(imgUrl)]="updatedUrl"></app-file-upload>

    <h4 style="float:top">{{user.name}}</h4>
    <form #postForm = "ngForm" (ngSubmit)="ngOnSubmit(postForm)">
        <label for="fname">Work Status:</label><br>
        <textarea rows=1 class="formField" type="text" ngModel #content="ngModel" [ngModel]="user.occupation" name="updatedStatus"><br></textarea>
        
        <label for="fname">Bio:</label><br>
        <textarea rows=5 class="formField" type="text" ngModel #content="ngModel" [ngModel]="user.bio" name="updatedBio"><br></textarea>
        
        <label for="fname">Funfact:</label><br>
        <textarea rows=2 class="formField" type="text" ngModel #content="ngModel" [ngModel]="user.funFact" name="updatedFunFact" style="margin-bottom: 12px;"><br></textarea>
        
        <button type="submit">Save Changes</button>
    </form>
</ng-container>