<!-- <section>
    <p><a routerLink="/topic" class="link">Go back</a></p>
</section>
<div class="border rounded w-50 mx-auto my-5">
        <form #topicForm="ngForm" (ngSubmit)="onSubmit(topicForm)">
            <div class="row">
                <div class="p-3 col-lg-4 col-lg-offset-4">
                    <input id="title" ngModel #title="ngModel" name="title" placeholder="Title" class="form-control">
                </div>
            </div>
            <div class="p-3 col-lg-4 col-lg-offset-4">
                <textarea id="description" ngModel #description="ngModel" name="description" placeholder="Write description here..." class="form-control"></textarea>
            </div>
            <div class="text-center p-3 m-2">
                <button>Save changes</button>
            </div>
        </form>
</div> -->

<ng-container>
    <button style="float:right; margin:0;"(click)="onBackClick()">Go Back</button>
    <h2>Create New Topic</h2>
    <div class="listItem">
        <div style="padding-top:30px; padding-bottom:30px; width:33%; margin-left: auto; margin-right: auto;">
            <form #postForm = "ngForm" (ngSubmit)="onSubmit(postForm)">
                <label for="topicName">Topic Name:</label><br>
                <input style="width:100%;" id="topicName" class="formField" type="text" ngModel name="topicName"><br>
                
                <label for="desc">Description:</label><br>
                <input style="width:100%;" id="desc" class="formField" type="text" ngModel name="topicDesc"><br>
                <br>

                <div style="display:flex; justify-content: center; margin-top:8px;">
                    <button type="submit">Create Topic</button>
                </div>
            </form>
        </div>
    </div>
</ng-container>