<div *ngIf="events.length !== 0">
    <div *ngFor="let day of nextMonth">
        <p class="dateText">{{days[day.getDay()]}} {{day.getDate()}}. {{months[day.getMonth()]}}</p>
        <div *ngFor="let e of events">
            <!-- <div class="eventBox" *ngIf="checkDay(day, e.startTime)" id="{{e.id}}">
                box
            </div> -->
    
            <div *ngIf="checkDay(day, e.startTime)">
                <app-calendar-event [event]="e"></app-calendar-event>
            </div>
        </div>
    </div>
</div>
<div *ngIf="events.length === 0" class="p-5 m.5">
    <p class="text-center">There are currently no events to show</p>
</div>