@import "../../../../styles.css";

/* #profilePicContainer{
    position: relative;
    margin: 25px;
    float: right;    
}
#profilePicContainer > img{
    position: static;
    float:right;
    max-width: 250px;
    max-height: 250px;
} */

/* button{
    border: none;
    border-width: 10px;
    background-color: #555;
    border-radius: 5px; 
    border-color: black;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    max-width: 95%;
    margin: 5px;
} */

