
<div *ngIf="user">
    <mat-icon aria-hidden="false" aria-label="Edit Icon" title="Edit post" style="float:right;" class="hover" (click)="editProfile()">edit</mat-icon>
    <h4 style="float:top">{{user!.name}}</h4><br>

    <div class="profilePicContainer">   
        <img src="{{user.imgURL}}" style="margin-top:-20px;"/>
    </div><br>
    <div style="margin-top:-40px">
        <div>Work Status: {{user!.occupation}}</div><br>
        <div>Bio: {{user!.bio}}</div><br>
        <div>Funfact: {{user!.funFact}}</div><br>
    </div>
    <ng-container *ngIf="authorized">
        <app-dashboard></app-dashboard>
    </ng-container>
</div>
