    <div class="centralWebsiteField">
      <ng-container>
        <ng-container *ngIf="post && showPost">
          <app-post-thread [post]="post"></app-post-thread>
        </ng-container>
        <ng-container *ngIf="postEvent && showEvent">
          <app-event-thread [event]="postEvent" ></app-event-thread>
        </ng-container>
      </ng-container>
    </div>


    