@import "../../../../styles.css";

.image{
    height: 100px;
    width: auto;
    float: left;
    margin-right: 2%;
}

.name{
    font-size:large;
}

.text{
    font-size: medium;
}

.post{
    background: #f8f8f8;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #f1f2f2;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
  }