
<mat-form-field class="dialogBox" appearance="fill">   
    <mat-label>Invite Users</mat-label>
    <mat-chip-list #chipList aria-label="Name Selection">
        <mat-chip
            *ngFor="let name of names"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(name)">
            {{name}}
            <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input
            placeholder="Choose User..."
            #nameInput
            [formControl]="nameControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addWithEnter($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" (optionActivated)="optionActivated($event)">
        <div *ngFor="let name of filteredNames | async">
            <mat-option *ngIf="nameInput!.value != ''" [value]="name">
                {{name}}
            </mat-option>
        </div>
    </mat-autocomplete>
</mat-form-field>
<br>
<mat-card-actions>
    <button (click)="onSubmit()" type="submit">Send Invite</button>
</mat-card-actions>
