@charset "UTF-8";

/* Overall styling of fonts and colors*/
:root {
    --bg-main: #7bbdc4;
    --bg-lighter: #9ccdd2;
    --bg-even-lighter : #b5d9dd;
    --bg-darker: #5aacb5;
    --event-color: #8eac47;
    --fnt-lighter: #6a548a;
    --fnt-lightest: #8e78ad;
    --fnt-main: #47385d;
    --border: #00000025;
    --btn:#005961;
    --btnLighter : #626262b0;
    --btn-border: #ffd000b1;
    --btn-text: #ffffff;
    --btn-disabled : #48914e;
    --divider : #00000050;
    color: var(--fnt-main);
    /* color: red; */
    font-size: 14px;
}

/*
* 
Main styling components 
*
*/


.centralWebsiteField {
    background-color: var(--bg-main);
    max-width: 800px;
    min-width: 200px;
    width: 80%;
    height: auto;
    overflow:auto;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.timelineItem { /*for items in timeline/feed*/
    width: 100%;
    border-color: var(--border);
    background-color: var(--bg-lighter);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin:5px;
    height:fit-content;
    column-count:1;
    column-span:1;
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

.listItem{
    width: 100%;
    border-color: var(--border);
    background-color: var(--bg-lighter);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin:5px;
    height:fit-content;
    /* display:flex; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.listItemRight{
    float:right;
}
.fieldDescription{
font-size: 12px;
color: var(--fnt-lighter)
}

.postOwnerLine { /*user profile pic and name in miniature*/
    float:top;
    line-height: 35px;
}

.postSplitFull { /* the full feed itemp*/
    margin: 15px;
} 
.eventSplit1 { /* the eventpart of feed item, only if the post is an event*/
    float:left;
    width: 75%;
    height:fit-content;
}
.eventSplit2 { /* the postpart of a feed item, either full width, or smaller if the post is an event*/
    float: left;
    width: 25%;
    margin:0px;
    padding-left: 2.5%;
    padding-top: 7px;
    border-radius: inherit;
    background-color: var(--bg-lighter);
    background-image: linear-gradient(90deg, var(--bg-lighter) 0%, var(--event-color) 10%);
}
.tinyImage{ /* miniature profile pic for timeline/feed*/
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit:cover;
    float: left;
}
.tinyName{ /* miniature profile pic for timeline/feed*/
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
}
.tinyDate{ /* last updated date for timeline items / feed item*/
    font-size: 12px;
    color: var(--fnt-darker);
}

.arrow { /* arrow to indicate a post in a group*/
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.postContent { /* the content of a post*/
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border);
    margin: 5px;
    padding: 5px;
}

.commentForm{
    display:flex;
    flex-direction:row;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding : 0 0 0 0;
    background-color: white;
    margin : 0px 5px 0px 5px;
}

.commentInput{
    flex-grow:2;
    border:none;
    padding: 5px;
    margin:5px;
}

.calIcon{ /* calendar icon*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    text-align: center;
}

.white-snackbar{ /*snackbar styling*/
    background-color:#ffab10;
    color : black;
}

.hoverableText :hover{
    text-decoration: underline;
    cursor : pointer;
}

.infoBox{
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-color: var(--bg-lighter);
    border-color: var(--border);
}
.infoBox:hover{
    cursor:pointer;
}

.newPostBox{
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top:20px;
    background-color: var(--bg-lighter);
    border-color: var(--border);
}

button{
    border-width: 1px;
    background-color: var(--btn);
    border-radius: 8px; 
    border-color: var(--btn-border);
    color: var(--btn-text);
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    max-width: 95%;
    margin: 10px;
    padding: 5px;
}

button:hover{
    background-color: var(--btn);
}
button:disabled{
    background-color: var(--btn-disabled);
}

.formField{
    border-radius: 3px;
}

textarea {
    resize : vertical;
    width : 69%;
    display : flex;
    overflow : hidden;
}

.profilePicContainer{
    position: relative;
    width: 20%;
    margin: 20px;
    float: right;    
}
.profilePicContainer > img{
    position: static;
    /* float: right; */
    width: 100%;
    /* max-width: 250px;
    max-height: 250px; */
}

input[type="file"]{
    display:none;
}

.profilePicContainer .btn {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
    top: 95%;
    left: 50%;
    max-width: 95%;
    width:80%;
    transform: translate(-50%, -100%);
    color: var(--btn-text);
    background-color: var(--btn);
    border-color: var(--btn-border);
    border-width: 1px;
    border-radius: 8px; 
}

.profilePicContainer > img{
    position: static;
}

.searchField{
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 2.2rem;
    margin-bottom: 15px;;
}
#fieldSearch{
    display: inline-block;
    width: 60%;
    padding: 0 5px;
    height: 2.2rem;
}
#btnSearch{
    display: inline-block;
    margin: 0;
    height: 2.2rem;
}

.hover:hover{
    cursor: pointer;
    text-decoration: underline;
}

.infoDashDivider{
    width: 100%;
    height:1px;
    border-color: var(--divider);
    border-style: solid;
    border-width: 0.3px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
