@import "../../../../styles.css";

.eventContainer {
    background-color: aliceblue;
}

.hover:hover{
    background-color:lightblue;
}

.banner_img {
    width : 100%;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}

.link{
    text-decoration: inherit;
    color : black;
}

.link:hover{
    text-decoration: underline;
}

.thick-border{
    border:solid 3px;
    border-color: var(--btn)
}

.answer-btn-s:hover{
    border:solid 3px rgba(0, 250, 154, 0.753);
}

.answer-btn-d:hover{
    border:solid 3px rgba(206, 0, 0, 0.795);
}

.answer-btn-m:hover{
    border:solid 3px rgba(255, 166, 0, 0.74);
}