
<div *ngIf="event">
    <img [src]="event.bannerImg" alt="Banner image" class="banner_img">
    <div style=padding:12px;>
        <button style="float:right; margin:10px;"(click)="onBackClick()">Go Back</button>
        <h1 style=margin-top:10px;>{{event.title}}</h1>
    </div>

    <div class="listItem row mx-auto">
        <div class="col-3">
            Starting at {{event.startTime | date : 'short'}} 
        </div>
        <div class="col-3">
            Ending at {{event.endTime | date : 'short'}}
        </div>
        <div class="col-3">
            Allowed guests : {{event.allowedGuests}}
        </div>
        <div class="col-3" style="padding-right: 0;" *ngIf="userId === event.author">
            <button style="float:right;" (click)="promptInvite()">Invite people +</button>
        </div>
        <section class="m-3 p-3" *ngIf="showOptions">
                <button class="m-2 answer-btn-s thick-border"(click)="answerInvitation(1)">Accept</button>
                <button class="m-2 answer-btn-m" (click)="answerInvitation(3)">Maybe</button>
                <button class="m-2 answer-btn-d" (click)="answerInvitation(2)">Decline</button>
        </section>
        <section class="row my-3 mx-2">
            <div clasS="col-6 postContent">
                <div>{{event.content}}</div>
            </div>
            <div class="col"></div>
            <div class="col-5 postContent" *ngIf="userAnswers.length !== 0">
                <table class="m-0 w-100">
                    <tr>
                        <td>Guest</td>
                        <td>Answer</td>
                    </tr>
                    <tr *ngFor="let item of userAnswers">
                        <td>{{item.name}}</td>
                        <td>{{item.answer}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="userAnswers.length === 0" class="col-5 postContent">No users invited yet</div>
        </section>
    </div>
</div>
<div class="listItem">
    <ng-container class="container" *ngFor="let reply of comments">
        <app-reply class="col-6 align-self-center" [reply]=reply></app-reply>
    </ng-container> 
    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm)" class="commentForm">
        <input 
        type="text" 
        ngModel 
        placeholder="Write your comment here...." 
        #firstname="ngModel" 
        name="comment" 
        id="comment"
        class="commentInput form-control">
        <button type="submit">Comment</button>
    </form>
</div>
